.container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 400vh;
  background-color: #ffffff;
  padding: 50px 20px 20px 20px; /* Adjust padding as needed */
  position: relative; /* Add relative positioning to allow absolute positioning of the image */
}
.sidebar h1 {
  margin-top: 110px; /* Adjust margin-top as needed */
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.button-container button {
  margin-bottom: 30px;
  background-color: #FF00FF; /* Set the background color to pink */
  color: white; /* Set the text color to white */
  border: none; /* Remove the border */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  }

.lulu-logo {
  width: 170px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Position the image absolutely */
  top: 0px; /* Distance from the top of the sidebar */
  left: 55px; /* Distance from the left of the sidebar */
}

