.container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f0f0f09c;
  padding: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.button-container button {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}