.container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f465a8;

  padding: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.button-container button {
  margin-bottom: 30px;
}

.content {
  flex: 1;
  padding: 20px;
}