.inventory-menu {
  width: 90%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the component horizontally */
  padding: 20px; /* Add padding for spacing */
}

  
  .close-button {
    position: absolute;
    top: 11px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .item-list {
    margin-top: 20px;
    max-height: 500px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }  
  
  .filter-button {
    background-color: #FF00FF; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
  }
  
  .filter-button:hover {
    background-color: #FF00FF; /* Darker green on hover */
  }
  
  .filter-button:active {
    background-color: #8e3e89; /* Dark green when pressed */
  }  
  
  .pricing-recommendations {
    margin-top: 20px;
  }

  .category-buttons button {
  background-color: #faf8f9; /* Green */
  border: none;
  color: #FF00FF;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.create-dynamic-pricing-rule-button,
.remove-all-dynamic-pricing-rules-button,
.clear-button {
  background-color: rgb(245, 241, 241); 
  border: none;
  color: #FF00FF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.modal {
  position: fixed;
  top: 50%; /* Position the modal at the center of the viewport vertically */
  left: 57%; /* Position the modal at the center of the viewport horizontally */
  transform: translate(-50%, -50%); /* Center the modal precisely */
  background-color: #fdf7de;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px; /* Adjust the width of the modal as needed */
}

.modal-content {
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #4682B4;
  color: white;
}
.item-image img {
  width: 70px;
  height: 70px;
} 

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item-image {
  margin-right: 20px;
}

.item-info {
  flex: 1;
}

