.inventory-menu {
  position: fixed;
  top: 0;
  transform: translateX(calc(100% - 300px)); /* Adjust the value as needed */
  width: 300px;
  height: 100vh;
  padding: 20px;
}
  
  .close-button {
    position: absolute;
    top: 11px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .item-list {
    margin-top: 20px;
    max-height: 500px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }  
  
  .filter-button {
    background-color: #c93e8d; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
  }
  
  .filter-button:hover {
    background-color: #581a55; /* Darker green on hover */
  }
  
  .filter-button:active {
    background-color: #8e3e89; /* Dark green when pressed */
  }  
  
  .pricing-recommendations {
    margin-top: 20px;
  }

  .category-buttons button {
  background-color: #faf8f9; /* Green */
  border: none;
  color: rgb(166, 74, 128);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.create-dynamic-pricing-rule-button,
.remove-all-dynamic-pricing-rules-button,
.clear-button {
  background-color: #fcfafc; /* Blue */
  border: none;
  color: rgb(182, 85, 161);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  max-height: 70vh; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #4682B4;
  color: white;
}
.item-image img {
  width: 50px;
  height: 50px;
} 

